th,tr,td{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: darkgoldenrod;
}
body{
    background-color: lightblue;
}
ul{
    padding: 0px;
    margin: 20px;
}
h6{
    font-size: 25px;
}
h5{
    font-size: 25px;
   padding-top: 1em;
}
h4{
    margin-top: 5px;
    font-size: 25px;
}
u{
    font-size: 20px;
}
h3{
    font-size: 
}
.col-3{
    float: right;
}