body {
            
    font-family: fantasy;
   
   width:100%;
   height:auto;
    margin: 5px;
  
    background-color: rgb(191, 248, 255) 

}

.header {
   
    float:left;
    width: 100%;
    background-image: url(tablemountain.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 0px;
}

.me{
    
    width:280px;
    top: 10mm;
    display: block;
}

.h2{
   float:left;
   width:50%;
    font-size: 50px;

}
.paris{
    height:150px;
    width: 150px;
    float:left;
    margin-right: 10px;
}
.p1{
    float: left;
    width:100%;
 
}
.Cities{
    overflow: auto;
    font-size: 30px;
    width: 100%;
  
   
}
.Languages{
   float: left;
   font-size: 30px;
   width: 100%;
}
.p3{
   
    font-size: 30px;
    float:left;
    width:100%;
}

table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}

th{
    text-align: left;
}

.history{
float: left;
font-size: 30px;
}

.parisdiv{
    float:left;
    width: 75%;
    overflow: auto; 
}

.table{
    float: left;
    overflow: auto;
    width: 50%;
}

.p2{
    float: left;
    overflow: auto;
}

.p5{
    float: left;
    overflow: auto;
    font-size: 20px;    
}

.h1{

    font-size:60px;
}

.list1{
    float: left;
}

.castle{
    font-size: 15px;
    width:33%;
}
.market{
    font-size: 15px;
    width: 33%;
}



.list2{
    width: 33%;
}

.divider{
    width: 100%;
}

.left{
    float:left;
    overflow:auto;
    width:320px;
    margin-right: 10%;
}

.right{
    float:left;
    width:300px;
   
}



.histimage{
    width:300px;
    height:200px;
    float:
    
}

.fact{

    width:300px;
    padding-inline-start: 20px;
   float: right;
}


.main{
    height:20px;
}
.center{
    width:300px;
    float:left;
    margin-right: 10%;
}

ul{
    margin:0px;
    

}

li{
    margin:0px;

}
h5{
    float: left;
    width: 100%;
    font-size: 30px;
}
h4{
    float: left;
    width: 100%;
    font-size: 30px;
}


h3{
    
    font-size: 30px;
}
h6{
    font-size: 15px;
}


@media (max-width:800px){

.right{
    float:left;
    width:100%;
}

.left{
    float:left;
    width:100%;

}
    
.center{
    float:left;
    width:100%;

}

.fact{
    float:left;
}
.lists{
    float: right;
}
.histimage{
    margin-right: 5px;
    float: left;
}
}
