.place img {
    float: left;
    margin-right: 25px;
}
.me{
    
    max-width: 280px;
    top: 10mm;
    display: block; 
    padding-right: 0px;
}
body {
            
    font-family: fantasy;
    max-width: 100%;
    background-color: lightblue; 
   padding: 0em;

}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}

